<section id="seccion-nosotros">
  <div>
    <h1>Acerca de Nosotros</h1>
    <article>
      <h2>Detrás del Código: Nuestro Equipo de Desarrollo</h2>
      <p>
        ¡Aquí estamos! El equipo que convierte las ideas en realidad digital.
        Somos un grupo unido por la pasión por la tecnología y el arte de
        construir cosas asombrosas.
      </p>
      <p>
        Nos encanta sumergirnos en los detalles, resolver rompecabezas lógicos y
        ver cómo nuestras líneas de código dan vida a nuevas funcionalidades y
        mejoran las existentes. Creemos firmemente en el trabajo en equipo, el
        aprendizaje constante y en mantenernos al día con el vertiginoso mundo
        del desarrollo de software web y móvil.
      </p>
      <p>
        Desde la concepción hasta la implementación, trabajamos codo a codo para
        asegurar que la base tecnológica sea sólida, segura y escalable. Nos
        desafiamos mutuamente para encontrar siempre la mejor solución y estamos
        orgullosos del impacto que nuestro trabajo tiene en la experiencia de
        cada usuario.
      </p>
      <p>
        Estamos emocionados por los futuros desafíos y listos para seguir
        innovando.
      </p>
    </article>
  </div>
</section>
