<section id="seccion-contacto">
  <div>
    <h1>Contáctame</h1>
    <article>
      <p>Puedes comunicarte a través del correo</p>
      <a href="#">jesus.borquez@borquez.com</a>.
      <p>Por teléfono o WhatsApp al número</p>
      <p>+54-383-999-9999</p>
      <p></p>
    </article>
  </div>
</section>
