<section id="seccion-index" class="clase-secciones">
  <div>
    <h1>Bienvenido a la mejor página de Superhéroes</h1>
    <article>
      <p>
        <strong>El expediente secreto de los héroes, revelado.</strong>
        Adéntrate en las identidades, los orígenes y las luchas personales de
        quienes salvan el mundo. Un acceso sin precedentes a la información
        clasificada de tus superhéroes favoritos.
      </p>
    </article>
  </div>
</section>
