<section id="header-general">
<nav>
  <div class="navbar">
    <a href="/">
      <img src="/images/LogoSuperheroes.JPG" alt="Logo" class="logo" />
    </a>
    <ul>
      <li>
        <a href="/">
          <img src="/icons/home.svg" alt="Inicio Icon" />
          Inicio
        </a>
      </li>
      <li>
        <a href="/superheroes/about">
          <img src="/icons/info.svg" alt="Acerca de Icon " />
          Acerca de
        </a>
      </li>
      <li>
        <a href="/superheroes/contact">
          <img src="/icons/contact.svg " alt=" Contacto !con " />
          Contacto
        </a>
      </li>
      <li>
        <a href="/superheroes/superheroAdd">
          <img src="/icons/icons8-añadir-94.png" alt="Agregar Icon">
          Agregar Superhéroe
        </a>
      </li>
      <li>
        <a href="/api/heroes/listar_todos">
          <img src="/icons/icons8-lista-corta-64.png" alt="Listar Icon">
          Listar Superhéroes
        </a>
      </li>
    </ul>
  </div>
</nav>
</section>